# Configuración de la base de datos
# Cambiar USE_DOCKER_DB a False para usar la instancia local de SQL Server con autenticación de Windows
USE_DOCKER_DB=True

# Credenciales para el contenedor Docker (Autenticación SQL Server)
DB_SERVER=localhost,1433
DB_NAME=SuperMaximiniDB
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd

# Servidor local (Autenticación Windows)
LOCAL_DB_SERVER=ISAIAS\ISAIAS
